
<div class="contact-item-main-structure">
    <div class="contact-item-left-structure">
        <img src="/circle-user-outline-white.svg" alt="" class="item-list-img">
        <p>{{contacto().firstName}}
            @if(contacto().isFavorite){
                ⭐
            }
        </p>
    </div>
    <div class="btn-container">
        <a [routerLink]="['/contacts',contacto().id,'edit']" class="button-delete-item">Editar</a>
    <!-- Borrar -->
        <button (click)="showDeleteModal()" class="button-delete-item">Borrar</button>
    </div>
</div>

