<header>
    <div class="mainlogo-container">

        <div class="sideLogo">
            <img src="/menu.svg" alt="">

            <a href="" class="mainlogo">
                <img src="/mainuser.png" alt="">
                <h2>Contactos</h2>
            </a>
        </div>

        <div class="search">
            <div class="search-elements">
                <button><img src="/lupa.svg" alt=""></button>
                <input type="search" id="search-bar" placeholder="Buscar">
            </div>
        </div>

        <div class="top-menu-header-right">
            <div class="top-menu-header-right-options">
                <img src="/question.svg" alt="">
                <img src="/settings.svg" alt="">
            </div>
            
            <div class="top-menu-header-right-options">
                <img src="/9puntos.svg" alt="">
                <img src="/user-pen.svg" alt="">       
            </div>         
        </div>
    </div>
</header>