<header>
    <div class="mainlogo-container">

        <div class="container-left">
            <div class="sideLogo">
                <img src="/menu.svg" alt="" class="menu-svg">

                <a href="" class="mainlogo">
                    <img src="/mainuser.png" alt="">
                    <h2>Contactos</h2>
                </a>
            </div>

            <div class="search">
                <div class="search-elements">
                    <button><img src="/lupa.svg" alt=""></button>
                    <input type="search" id="search-bar" placeholder="Buscar">
                </div>
            </div>
        </div>
        <div class="espacio-blanco"></div>
        <div class="top-menu-header-right">
            <div class="top-menu-header-right-options">
                <button><img src="/question.svg" alt=""></button>
                <button><img src="/settings.svg" alt=""></button>
            </div>
            <div class="espacio-blanco"></div>
            <div class="top-menu-header-right-options">
                <button><img src="/9puntos.svg" alt=""></button>
                <button><img src="/user-pen.svg" alt=""></button>
            </div>
        </div>

    </div>
</header>