<div class="card">
  <form (ngSubmit)="handleFormSubmission(newContactForm)" #newContactForm="ngForm">

    @if(idContacto()){
    <div class="contact-create-edit-text">
      <img src="/user-round-pen-stroke-white.svg" alt="">
      <h2 class="legend-menu">Editar Contacto</h2>
    </div>
    }
    @else
    {
    <div class="contact-create-edit-text">
      <img src="/user-round-plus-stroke-white.svg" alt="">
      <h2 class="legend-menu">Nuevo contacto</h2>
    </div>
    }

    <!-- //////////////////// -->
    <div class="campo-input">
      <label for="first-name">Nombre*</label>
      <div class="input-error">
        <input type="text" name="firstName" id="first-name" ngModel required="true" maxlength="50" #firstName="ngModel">
        @if (firstName.dirty && firstName.invalid) {
        <p class="error">El nombre es obligatorio</p>
        }
      </div>
    </div>

    <!-- ----------------------------------------- -->

    <div class="campo-input">
      <label for="last-name">Apellido</label>
      <input type="text" name="lastName" id="last-name" ngModel maxlength="50">
    </div>

    <!-- ----------------------------------------- -->

    <div class="campo-input">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" ngModel maxlength="50">
    </div>

    <!-- ----------------------------------------- -->

    <div class="campo-input">
      <label for="address">Direccion</label>
      <input type="text" name="address" id="address" ngModel maxlength="50">
    </div>

    <!-- ----------------------------------------- -->

    <div class="campo-input">
      <label for="number" style="align-self:center">Teléfono*</label>
      <div class="input-error">
        <input id="number" name="number" ngModel required minlength="4" #phone="ngModel">
        @if (phone.dirty && phone.invalid) { <p class="error">El teléfono es obligatorio</p> }
      </div>
    </div>

    <!-- ----------------------------------------- -->

    <div class="campo-input">
      <label for="company">Compania</label>
      <input type="text" name="company" id="company" ngModel maxlength="50">
    </div>

    <!-- ----------------------------------------- -->

    <div class="campo-input">
      <label for="description">Descripcion</label>
      <input type="text" name="description" id="description" ngModel>
    </div>

    <!-- ----------------------------------------- -->

    <div class="campo-input">
      <label for="image">Url imagen</label>
      <input type="text" name="image" id="image" ngModel>
    </div>

    <!-- ----------------------------------------- -->

    @if (errorEnBack)
    {
    <p class="error">Error indeterminado, intente nuevamente.</p>
    }

    @if(idContacto())
    {
    <div class="button-flex">
      <a routerLink=""><button class="backtolist-btn"><img src="/move-left-white.svg" alt=""></button></a>
      <button [disabled]="newContactForm.invalid || solicitudABackEnCurso"
        class="button-add-contact-form">Editar</button>
    </div>
    }
    @else
    {
    <div class="button-flex">
      <a routerLink=""><button class="backtolist-btn"><img src="/move-left-white.svg" alt=""></button></a>
      <button [disabled]="newContactForm.invalid || solicitudABackEnCurso"
        class="button-add-contact-form">Agregar</button>
    </div>
    }
    @if (solicitudABackEnCurso) {
      <app-spinner/>
    }
  </form>
</div>