<div class="card">
  <form #newContactForm="ngForm" (ngSubmit)="handleFormSubmission(newContactForm)">

    @if (idContacto()) {
      <div class="contact-create-edit-text">
        <img src="/user-round-pen-stroke-white.svg" alt="">
        <h2 class="legend-menu">Editar Contacto</h2>
      </div>
    } @else {
      <div class="contact-create-edit-text">
        <img src="/user-round-plus-stroke-white.svg" alt="">
        <h2 class="legend-menu">Nuevo contacto</h2>
      </div>
    }


    <div class="campo-input">
      <label for="first-name">Nombre*</label>
      <div class="input-error">
        <input
          type="text"
          id="first-name"
          name="firstName"
          ngModel
          required
          maxlength="50"
          #firstName="ngModel"
        />
        @if (firstName.touched && firstName.invalid) {
          <p class="error">El nombre es obligatorio</p>
        }
      </div>
    </div>

    <div class="campo-input">
      <label for="last-name">Apellido</label>
      <input
        type="text"
        id="last-name"
        name="lastName"
        ngModel
        maxlength="50"
      />
    </div>

    <div class="campo-input">
      <label for="email">Email*</label>
      <div class="input-error">
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          required
          email
          maxlength="50"
          #emailCtrl="ngModel"
        />
        @if (emailCtrl.touched && emailCtrl.invalid) {
          <p class="error">
            @if (emailCtrl.errors?.['required']) { El correo es obligatorio }
            @else if (emailCtrl.errors?.['email']) { Formato de correo inválido }
          </p>
        }
      </div>
    </div>


    <div class="campo-input">
      <label for="address">Direccion</label>
      <input
        type="text"
        id="address"
        name="address"
        ngModel
        maxlength="50"
      />
    </div>

    <div class="campo-input">
      <label for="number">Teléfono*</label>
      <div class="input-error">
        <input
          type="tel"
          id="number"
          name="number"
          ngModel
          required
          minlength="4"
          #phone="ngModel"
        />
        @if (phone.touched && phone.invalid) {
          <p class="error">El teléfono es obligatorio</p>
        }
      </div>
    </div>

  
    <div class="campo-input">
      <label for="company">Compania</label>
      <input
        type="text"
        id="company"
        name="company"
        ngModel
        maxlength="50"
      />
    </div>

    <div class="campo-input">
      <label for="description">Descripcion</label>
      <input
        type="text"
        id="description"
        name="description"
        ngModel
      />
    </div>

    <div class="campo-input">
      <label for="image">Url imagen</label>
      <input
        type="text"
        id="image"
        name="image"
        ngModel
      />
    </div>

    @if (errorEnBack) {
      <p class="error">Error indeterminado, intente nuevamente.</p>
    }

    
    @if (idContacto()) {
      <div class="button-flex">
      
        <a [routerLink]="['/']" class="backtolist-btn">
          <img src="/move-left-white.svg" alt="">
        </a>

        <button
          type="submit"
          [disabled]="newContactForm.invalid || solicitudABackEnCurso"
          class="button-add-contact-form">
          Editar
        </button>
      </div>
    } @else {
      <div class="button-flex">
        <a [routerLink]="['/']" class="backtolist-btn">
          <img src="/move-left-white.svg" alt="">
        </a>

        <button
          type="submit"
          [disabled]="newContactForm.invalid || solicitudABackEnCurso"
          class="button-add-contact-form">
          Agregar
        </button>
      </div>
    }

    @if (solicitudABackEnCurso) {
      <app-spinner />
    }
  </form>
</div>
